.mfa-wrapper {
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

/* Header */
.mfa-header {
  background-color: #004d00;
  color: white;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.mfa-header h1 {
  margin: 0;
  font-size: 1.25rem;
}
.logo {
  height: 32px;
}

.mfa-main {
  margin-top: 3rem;
  text-align: center;
}

.mfa-main h2 {
  color: #004d00;
  margin-bottom: 0.5rem;
}

.mfa-main p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #333;
}

.mfa-card {
  background-color: #E3EDE5;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1rem;
}

.mfa-input-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.mfa-input {
  width: 55px; 
  height: 55px;
  font-size: 1.75rem; 
  font-weight: 600; 
  text-align: center;
  border: 2px solid #ccc; 
  border-radius: 10px; 
  background-color: white;
  color: #004d00;
  transition: all 0.2s ease-in-out;
}

.mfa-input:focus {
  outline: none;
  border-color: #004d00;
  transform: scale(1.05); 
}

.mfa-submit {
  background-color: #004d00;
  color: white;
  border: none;
  padding: 0.85rem 1rem;
  font-size: 1rem;
  font-weight: 600; 
  border-radius: 8px;
  cursor: pointer;
  width: 100%; 
  
  transition: all 0.2s ease-in-out;
}

.mfa-submit:hover {
  background-color: #006600;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mfa-submit:active {
  transform: translateY(0); 
}

.mfa-outline-card {
  border: 1px solid #ccc;
  background-color: #ffffff; 
  max-width: 500px; 
  margin: 0 auto;
  padding: 2.5rem; 
  margin-top: 3rem;
  border-radius: 16px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}